# Logs
*.log
npm-debug.log*
.DS_Store

# Dependency directories
node_modules/

# Coverage files
coverage/

# Documentation files
documentation/

# Typescript v1 declaration files
typings/

# Optional npm cache directory
.npm
