body, html {
  font-family: 'Roboto', sans-serif;
  width: 100%;
  height: 100%;
  display: block;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 44px;
}

.header {
  padding: 200px 0 350px 0;
  background: transparent;
  background: #F26470;
  background-image: -moz-linear-gradient(top, #F26470, #FF8993);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #F26470), color-stop(1, #FF8993));
  background-image: linear-gradient(top, #F26470, #FF8993);
}

hr {
  margin: 0 auto;
  margin-bottom: 52px;
  margin-top: 52px;
  width: 950px;
  height: 1px;
  border: none;
  background-color: #E8E8E8;

}

.content__wrapper {
  background-color: #FDFDFD;
  display: block;
  position: relative;
}

.content {
  top: -200px;
  z-index: 1;
  margin: 0 auto;
  position: relative;
  width: auto;
  max-width: 950px;
  padding: 200px;
  border-radius: 8px;
  background-color: #FFF;
  box-shadow: 0 32px 161px 0 rgba(204, 204, 204, 0.32);
  -moz-box-shadow: 0 32px 161px 0 rgba(204, 204, 204, 0.32);
  -webkit-box-shadow: 0 32px 161px 0 rgba(204, 204, 204, 0.32);
}

.footer {
  background-color: #FFF;

}

.color--light {
  color: #FFF;
}

.font--bold {
  font-weight: bold;
}
