$rotate-duration: 30s;
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
$zoom-in-duration: 6s;
@keyframes zoom-in {
  0% {
    opacity: 0;
    transform: scale(0) rotate(-30deg);
  }

  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}
$expand-duration: 30s;
@keyframes expand {
  0%,
  40% {
    opacity: 1;
    transform: scale(1);
  }

  50%,
  80% {
    opacity: 0;
    transform: scale(0);
  }

  100%,
  90% {
    opacity: 1;
    transform: scale(1);
  }
}
$expand-reverse-duration: 30s;
@keyframes expand-reverse {
  0%,
  20% {
    opacity: 0;
    transform: scale(0);
  }

  30%,
  70% {
    opacity: 1;
    transform: scale(1);
  }

  100%,
  80% {
    opacity: 0;
    transform: scale(0);
  }
}

.icon-patterns__overlay .icon-patterns__animations__initial {
  transition: all 2s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: absolute;

  &.initialize {
    animation: zoom-in $zoom-in-duration cubic-bezier(0.645, 0.045, 0.355, 1) 0s both;
  }

  &.initialize--slow {
    animation: zoom-in $zoom-in-duration * 1.5 cubic-bezier(0.645, 0.045, 0.355, 1) 0s both;
  }

  &.initialize--fast {
    animation: zoom-in $zoom-in-duration * 0.5 cubic-bezier(0.445, 0.05, 0.55, 0.95) 0s both;
  }
}

.icon-patterns__overlay .icon-patterns__animations__expand {
  display: inline-block;

  &.expand {
    animation: expand $expand-duration ease-in-out 0s infinite both;
  }

  &.expand--fast {
    animation: expand $expand-duration * 0.5 ease-in-out 0s infinite both;
  }

  &.expand--slow {
    animation: expand $expand-duration * 1.5 ease-in-out 0s infinite both;
  }

  &.expand--reverse {
    animation: expand-reverse $expand-duration ease-in-out 0s infinite;
  }

  &.expand--reverse--fast {
    animation: expand-reverse $expand-duration * 0.5 ease-in-out 0s infinite;
  }

  &.expand--reverse--slow {
    animation: expand-reverse $expand-duration * 1.5 ease-in-out 0s infinite both;
  }
}

.icon-patterns__overlay i {
  display: inline-block;

  &.rotate {
    animation: rotate $rotate-duration linear 0s infinite both;
  }

  &.rotate--slow {
    animation: rotate $rotate-duration * 1.5 linear 0s infinite both;
  }

  &.rotate--fast {
    animation: rotate $rotate-duration * 0.5 linear 0s infinite both;
  }

  &.rotate--reverse {
    animation: rotate $rotate-duration linear 0s infinite both reverse;
  }

  &.rotate--reverse--slow {
    animation: rotate $rotate-duration * 1.5 linear 0s infinite both reverse;
  }

  &.rotate--reverse--fast {
    animation: rotate $rotate-duration * 0.5 linear 0s infinite both reverse;
  }
}
