@-webkit-keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes zoom-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(-30deg);
    transform: scale(0) rotate(-30deg); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg); } }

@keyframes zoom-in {
  0% {
    opacity: 0;
    -webkit-transform: scale(0) rotate(-30deg);
    transform: scale(0) rotate(-30deg); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1) rotate(0deg);
    transform: scale(1) rotate(0deg); } }

@-webkit-keyframes expand {
  0%,
  40% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  50%,
  80% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0); }
  100%,
  90% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@keyframes expand {
  0%,
  40% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  50%,
  80% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0); }
  100%,
  90% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); } }

@-webkit-keyframes expand-reverse {
  0%,
  20% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0); }
  30%,
  70% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  100%,
  80% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0); } }

@keyframes expand-reverse {
  0%,
  20% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0); }
  30%,
  70% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1); }
  100%,
  80% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0); } }

.icon-patterns__overlay .icon-patterns__animations__initial {
  -webkit-transition: all 2s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: all 2s cubic-bezier(0.645, 0.045, 0.355, 1);
  position: absolute; }
  .icon-patterns__overlay .icon-patterns__animations__initial.initialize {
    -webkit-animation: zoom-in 8s cubic-bezier(0.645, 0.045, 0.355, 1) 0s both;
    animation: zoom-in 8s cubic-bezier(0.645, 0.045, 0.355, 1) 0s both; }
  .icon-patterns__overlay .icon-patterns__animations__initial.initialize--slow {
    -webkit-animation: zoom-in 12s cubic-bezier(0.645, 0.045, 0.355, 1) 0s both;
    animation: zoom-in 12s cubic-bezier(0.645, 0.045, 0.355, 1) 0s both; }
  .icon-patterns__overlay .icon-patterns__animations__initial.initialize--fast {
    -webkit-animation: zoom-in 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) 400ms both;
    animation: zoom-in 4s cubic-bezier(0.445, 0.05, 0.55, 0.95) 400ms both; }

.icon-patterns__overlay .icon-patterns__animations__entrance {
  display: inline-block; }
  .icon-patterns__overlay .icon-patterns__animations__entrance.expand {
    -webkit-animation: expand 12s ease-in-out infinite both;
    animation: expand 12s ease-in-out infinite both; }
  .icon-patterns__overlay .icon-patterns__animations__entrance.expand--fast {
    -webkit-animation: expand 6s ease-in-out infinite both;
    animation: expand 6s ease-in-out infinite both; }
  .icon-patterns__overlay .icon-patterns__animations__entrance.expand--slow {
    -webkit-animation: expand 18s ease-in-out infinite both;
    animation: expand 18s ease-in-out infinite both; }
  .icon-patterns__overlay .icon-patterns__animations__entrance.expand--reverse {
    -webkit-animation: expand-reverse 12s ease-in-out infinite;
    animation: expand-reverse 12s ease-in-out infinite; }
  .icon-patterns__overlay .icon-patterns__animations__entrance.expand--reverse--fast {
    -webkit-animation: expand-reverse 6s ease-in-out infinite;
    animation: expand-reverse 6s ease-in-out infinite; }
  .icon-patterns__overlay .icon-patterns__animations__entrance.expand--reverse--slow {
    -webkit-animation: expand-reverse 18s ease-in-out infinite both;
    animation: expand-reverse 18s ease-in-out infinite both; }

.icon-patterns__overlay i {
  display: inline-block; }
  .icon-patterns__overlay i.rotate {
    -webkit-animation: rotate 10s linear infinite both;
    animation: rotate 10s linear infinite both; }
  .icon-patterns__overlay i.rotate--slow {
    -webkit-animation: rotate 15s linear infinite both;
    animation: rotate 15s linear infinite both; }
  .icon-patterns__overlay i.rotate--fast {
    -webkit-animation: rotate 5s linear infinite both;
    animation: rotate 5s linear infinite both; }
  .icon-patterns__overlay i.rotate--reverse {
    -webkit-animation: rotate 10s linear infinite both reverse;
    animation: rotate 10s linear infinite both reverse; }
  .icon-patterns__overlay i.rotate--reverse--slow {
    -webkit-animation: rotate 15s linear infinite both reverse;
    animation: rotate 15s linear infinite both reverse; }
  .icon-patterns__overlay i.rotate--reverse--fast {
    -webkit-animation: rotate 5s linear infinite both reverse;
    animation: rotate 5s linear infinite both reverse; }
